*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body{
    height: 100%;
    width: 100%;
}

#container{
    border-radius: 10px;
    height: 450px;
    width: 350px;
    background-color: #fff;
    position: relative;
    text-align: center;
    overflow: hidden;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}


#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#container i{
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.5s;

}







